  html{

     background-image: url(http://www.htmldrive.net/edit_media/2011/201107/20110719/Full-background-webdevtuts/images/image1.jpg);
    background-repeat:repeat;
    height: 100%;
    width: 100%;
  }

  /* ===header=== */

header div{
    display: inline-block;
}


/* === This block of code makes the header container div === */
.head-wrapper{
    display: flex;
}

/* === Child div of he head-wrapper === */
.box-1{
    flex: 1;
    justify-content: center;
    margin-top: 2%;
    height: auto;
    width: 70%;

}
.box-1 img{
/*     width: 42%;
 */    height: 168px;
    border-radius: 10px;
    
}

.box-2{
    flex: 1;
    height: 180px; 
    align-items: center;         
    justify-content: center;
    
}

.box-3{
    flex: 1;
    height: 180px;
    margin-top: 3%;

}

.box-3 img{
    height: auto;
    width: auto;
    float: right;
}

.header-nav{
    background-color: #333;
 
}

.header-nav li {
    display: inline-block;
    margin-right: 10%;
    list-style: none;
    border: 1px;
    padding: 10px;
}

.header-nav li a {
    text-decoration: none;
    font-size: 23px;
    font-weight: 200;
    padding: 5px;
    color: aliceblue;
    
}
.header-nav li a:hover {
    background-color: #111;

    
}
/* === header up from here === */

/* === body === */


.body-container{
    display: flex;
    flex-direction: column; 
}

.body-container div{
    height: 100px;
    text-overflow: inherit;
    background-color: rgba(11, 127, 243, 0.1);
    overflow-wrap: normal;
    margin: 5px;;

}

.part-1{

    
}

.part-2{

    

}

.part-3{

}

/* this css is for skills.html */

main{
    display: flex;
    flex-wrap: wrap;
}

main img
{
    height: 180px;
    width: 180px;
}

main div{
    background-color: rgba(11, 127, 243, 0.1);
    margin: 20px;
    border-radius: 5px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 40%;
    flex-wrap: wrap;
    background-color: rgba(11, 127, 243, 0.1);


  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  .card-container {
    padding: 2px 16px;
    overflow: hidden;
  }

  address{
      height: 200px;
      width: 400px;

  }

  address li{
      display:flex;
      flex-direction: column;
      
  }
  address a{
    display: inline-block;
    text-decoration: none;
    font-size: 22px;
    
}



/* this css is for skills.html */


/* === footer=== */

footer{

    background-color: lightblue;
    height: 125px;
    width: 100%;
    position: absolute;

}

footer li {
    display: inline-block;
        margin: 3%;
       
    
}

footer a{
    text-decoration: none;
  
}




